*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    border: 2px dashed gray;
}


.col{
    height: 250px;
    width: 250px;
    border: 1px solid black;
}