*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    border: 3px solid red;
}

.col-md-6{
    border: 2px solid black;
    height: 200px;
}

.col-lg-3{
    border: 1px solid green;
    height: 200px;
}

.col3{
    border: 1px solid gray;
    height: 200px;
}