* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    width: 100%;
    margin: auto;
    border: 1px solid #000;
}




.header {
    background: black;
    text-align: center;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
}
