.container{
    border: 3px dashed rgb(255, 251, 28);
}

.row {
    border: 2px dotted gray;
}


.col-md-4{
    border: 1px solid rgb(177, 21, 21);
    background-color: rgb(255, 20, 177);
    height: 200px;
}

.col-md-2{
    border: 1px solid black;
    background-color:rgb(0, 102, 255);
    height: 200px;
}


.col-md-1{
    border: 1px solid black;
    background-color:rgb(0, 104, 0);
    height: 200px;
}