.container {
  border: 3px dashed black;
}

.row {
  border: 2px dotted gray;
}

.col-md-3 {
  border: 1px solid black;
  background-color: rgb(30, 26, 252);
  height: 200px;
}

.col-md-2 {
  border: 1px solid rgb(255, 31, 31);
  height: 200px;
}


#col-1{
    background-color: rgb(0, 255, 128);
}

#col-2{
    background-color:rgb(255, 232, 28);
}

#col-3{
    background-color:rgb(30, 255, 255);
}

#col-4{
    background-color: rgb(133, 134, 207);
}

#col-5{
    background-color: rgb(45, 210, 30);
}

#col-6{
    background-color: rgb(122, 103, 245);
}