*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid{
    border: 1px solid black;
    height: 1700px;
}

.col{
    height: 100px;
    border: 1px solid gray;
    word-spacing: 40px;
}

.col-md-6{
    border: 1px solid black;
    height: 300px;
    
}

.col-md-4{
    border: 1px solid black;
    height: 500px;
}

.col-md-5{
    border: 1px solid black;
    height: 500px;
}