*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}


.container{
    border: 1px solid black;
}

.row{
    border: 1px dashed gray;
}

.col-md-4{
    border: 1px solid black;
}