.container{
    border: 3px solid black;
    height: 2500px;
}

.row{
    border: 1px solid gray;
    height: 1600px;

}

.row-1{
    border: 1px solid red;
    height: 300px;
}

.row-2{
    border: 1px solid black;
    height: 300px;
}

.col-md-2{
    border: 1px solid gray;
    height: 300px;
  
}
.col-md-1{
    border: 1px solid gray;
}

.col-md-3{
    border: 1px solid black;
}



.col-md-4{
    border: 1px solid gray;
}

#col-1{
    border: 1px solid black;
    background-color: rgb(106, 118, 0);
}

#col-2{
    border: 1px solid black;
    background-color:rgb(13, 56, 0);
}

#col-3{
    border: 1px solid black;
    background-color:rgb(19, 0, 71);
}

#col-4{
    border: 1px solid black;
    background-color:rgb(71, 0, 31);
}
