.container{
    border: 3px solid black;
    height: 2500px;
}

.row{
    border: 1px solid gray;
    height: 1600px;

}

.row-1{
    border: 1px solid red;
    height: 300px;
}

.row-2{
    border: 1px solid black;
    height: 300px;
}

.col-md-2{
    border: 1px solid gray;
    height: 300px;
  
}
.col-md-1{
    border: 1px solid gray;
}

.col-md-3{
    border: 1px solid black;
}



.col-md-4{
    border: 1px solid gray;
}

#col-1{
    border: 1px solid black;
    background-color: rgb(255, 239, 20);
}

#col-2{
    border: 1px solid black;
    background-color:rgb(0, 241, 64);
}

#col-3{
    border: 1px solid black;
    background-color:rgb(3, 255, 230);
}

#col-4{
    border: 1px solid black;
    background-color:rgb(255, 54, 94);
}
