.container{
    border: 1px solid black;
    height: 700px;
}

.row{
    border: 1px solid gray;
    height: 400px;
}

.col-md-2{
    border: 1px solid gray;
    height: 300px;
}

#col-1{
    border: 1px solid black;
    background-color: rgb(255, 242, 0);
}

#col-2{
    border: 1px solid black;
    background-color:rgb(0, 227, 159);
}

#col-3{
    border: 1px solid black;
    background-color:rgb(19, 204, 210);
}

#col-4{
    border: 1px solid black;
    background-color:rgb(142, 0, 24);
}
