.container{
    border: 1px solid black;
    height: 700px;
}

.row{
    border: 1px solid gray;
    height: 400px;
}

.col-md-2{
    border: 1px solid gray;
    height: 300px;
}

#col-1{
    border: 1px solid black;
    background-color: rgb(255, 106, 0);
}

#col-2{
    border: 1px solid black;
    background-color:rgb(255, 225, 0);
}

#col-3{
    border: 1px solid black;
    background-color:rgb(15, 83, 5);
}

#col-4{
    border: 1px solid black;
    background-color:rgb(0, 142, 66);
}
