

.container{

    border: 1px solid black;
    
}

.row{
    border: 1px solid red;
    height: 400px;
    width: 600px;
}

.col-md-4{
    border: 1px solid gray;
    height: 300px;

    background-color: aqua;
}